/* Font Family */
@font-face {
  font-family: myFirstFont;
  src: url(../font/Iraniansans.ttf);
}

/* Global Colors */
:root {
  --color-main: #267326;
  --color-primary: #008000;
  --color-hover: #009933;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

header nav {
  background-color: var(--color-main);
}

header .navbar-nav {
  padding: 0px;
}

header .navbar-nav li a {
  color: #fff !important;
}

header .navbar-nav li {
  padding: 12px 25px;
}

header .navbar-nav li:hover {
  background-color: var(--color-hover);
}

header .navbar {
  padding: 0px;
}

.navbar-toggler.collapsed {
  margin-right: auto;
}

.navbar-toggler-icon {
  color: #fff !important;
  background-image: url(../img/icon/menu.png);
  outline: none;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
  margin-right: auto !important;
  transform: rotate(180deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: #f7f7f7;
  padding-left: 100px;
}

.profile h6 {
  font-size: 1rem;
}

.profile span {
  font-size: 15px;
}

.profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.site-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.parent_end_header {
  padding: 0px 40px;
}

.end_header {
  background-color: #fff;
  position: relative;
}

.end_header a {
  color: #000;
  text-decoration: none;
}

.parent_logo img {
  position: absolute;
  top: 0px;
  overflow: visible;
  z-index: 1000;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  color: var(--default-color);
  font-family: "myFirstFont";
  direction: rtl;
  background: url(../img/image/mnasd-bg.jpg) no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

a:hover {
  color: rgba(var(--primary-color-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "myFirstFont";
}

.main_section {
  padding-top: 80px;
}

.main_section .card {
  padding: 25px 35px;
  border-radius: 5px;
  margin-top: 20px;
}

.row_card {
  padding: 0px 40px;
}

.main_section .card img {
  border-radius: 5px;
}

main .card .card-body .card-title a {
  color: var(--color-main);
  text-decoration: none;
  font-size: 16px;
}

main .card .card-body .card-text a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

main .btn-Con {
  background-color: var(--color-main);
  color: #fff;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #008000;
  color: #eeefef;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 3px 20px;
  float: left;
  text-decoration: none;
  font-weight: bold;
}

.main_section .card {
  position: relative;
}

.fixxedlogo {
  background: var(--color-main);
  width: fit-content;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50px;
}

.fixxedlogo img {
  width: 80%;
}

.section_main {
  background-color: #fff;
}

.topSection {
  color: #fff;
}

.topSection h6 a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.section_bottom {
  color: #fff;
  padding: 10px;
}

.section_bottom a {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin-right: 20px;
  padding: 4px 8px;
}

.topSection p {
  font-size: 16px;
  margin-top: 30px;
}

/* ============ start page but-ticket ============= */
.buy_ticket header nav {
  color: #fff;
}

.buy_ticket header .navbar-nav li a {
  color: #fff !important;
}

.buy_ticket .profile {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.buy_ticket .games {
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  margin-top: 20px;
}

.buy_ticket .profile a {
  text-decoration: none;
  color: #fff;
}

.buy_ticketPage .profiles h6 {
  color: #fff;
}

.buy_ticketPage .profiles .profile {
  border-radius: 0% 36px 36px 0;
}

.buy_ticketPage .steps_list {
  color: #fff;
  padding: 0px;
}

.buy_ticketPage .steps_list li {
  padding-top: 10px;
}

.buy_ticketPage .steps_list li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.buy_ticket .games {
  color: #fff;
}

.buy_ticket .games p {
  width: 27%;
  text-align: center;
}

/* ====== login or signin page ====== */
.guideSec {
  margin-top: 80px;
  margin-bottom: 20px;
}

.loginpage .loginBox,
.guideSec .guideBox {
  background: #eaf3e6;
  border-top: 5px solid var(--color-main);
}

.loginpage .loginBox .row {
  padding: 20px;
}

.loginpage .form_login {
  border: 2px dashed var(--color-main);
  padding: 20px;
  background: #e5e5e5;
}

.loginpage .form_login label {
  font-size: 14px;
  color: #202020;
  padding-bottom: 5px;
}

.loginpage .form_login input::placeholder {
  font-family: "myFirstFont";
  text-align: left;
}

.loginpage .form_login input:focus {
  box-shadow: none;
  border-color: var(--color-hover);
}

.loginpage .checkboxLabel {
  font-size: 12px !important;
  margin-top: 5px;
}

.loginBox .btnSubmit {
  background-color: var(--color-main);
  color: #fff;
}

.loginBox .forget_password {
  color: gray;
  font-size: 10px;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

.boxOf_input {
  width: 70%;
  margin-top: 20px;
}

.boxOf_input input:focus {
  box-shadow: none;
}

.boxOf_input input,
.boxOf_input select {
  width: 60%;
}

.Login_form button {
  width: 41% !important;
  color: #fff;
}

/* ====== end login or signin page ====== */

/* ====== start guide page ====== */
.guideBox {
  padding: 20px;
}

.guideBox .box_paragraph {
  background: #fdfefd;
  padding: 20px;
  margin-top: 30px;
  position: relative;
}

._badge {
  margin-bottom: 20px;
}

.guideBox .box_paragraph ul li {
  font-size: 14px;
  line-height: 30px;
}
/* ====== end guide page ====== */

/* ====== start info page ======= */
.info .games {
  border-radius: 0px !important;
}

.info .games table {
  background: rgba(255, 255, 255, 0.27) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  margin-top: 20px;
}

.ticketReserved .games img {
  width: 150px;
  margin: auto;
  display: block;
}

.info .games table tr td , .info .games table tr th {
  background-color: transparent !important;
  text-align: center;
  vertical-align: middle;
}

.info .lists_info li input{
  width: 150px;
  margin-right: 20px;
}

.info .lists_info li input:focus {
  box-shadow: none;
}

/* ====== end info page ======= */

/* ====== start ticketreserved ====== */
.ticketReserved h1 {
  color: #fff;
  font-size: 16px;
}

.ticketReserved .games {
  border-radius: 0px !important;
  padding: 15px;
}
/* ====== end ticketreserved ====== */

/* ====== start footer ====== */
footer .section_top {
  background-color: #ffffff;
  color: white;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

footer .section_top ul li a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

footer .section_top ul li:hover {
  background: var(--color-main);
  color: #fff;
  transition: all 0.5s ease;
}

footer .section_top ul li:hover a {
  color: #fff;
  transition: all 0.5s ease;
}

footer .section_top ul li {
  padding: 14px 8px;
}

footer .section_top ul {
  gap: 30px;
  padding: 0px 40px;
  justify-content: center;
}

footer .paragrah_footer {
  color: #fff;
}

footer .end_footer {
  background-color: #008000;
}

footer .end_footer img {
  height: fit-content;
}
/* =============== media query =============== */
@media screen and (max-width: 768px) {
  .buy_ticket .games img {
    display: none;
  }

  .boxOf_input {
    width: 100%;
  }
  .Login_form button {
    width: 100% !important;
  }
}

@media screen and (min-width: 991px) {
  .site-title {
    margin-right: 80px;
  }
  .footer .section_top ul {
    gap: 145px;
  }
}

@media screen and (max-width: 991px) {
  header .navbar-nav li {
    padding: 4px 8px;
  }

  .parent_end_header {
    padding: 0px;
  }

  .footer img {
    width: 50px;
  }

  .parent_logo img {
    display: none;
  }

  .parent_logo .site-title {
    font-size: 12px;
  }

  .profile {
    padding: 0px;
    background: none;
    margin-right: auto;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  .end_header {
    padding-top: 10px;
  }

  .profile h6 {
    display: none;
  }
  .profile span {
    display: none;
  }

  .buy_ticket .profile {
    background: none;
  }
}
