/* Font Family */
@font-face {
  font-family: myFirstFont;
  src: url(../font/Iraniansans.ttf);
}

/* Global Colors */
:root {
  --color-main: #267326;
  --color-primary: #008000;
  --color-hover: #009933;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

header nav {
  background-color: var(--color-main);
}

header .navbar-nav {
  padding: 0px;
}

header .navbar-nav li a {
  color: #fff !important;
}

header .navbar-nav li {
  padding: 12px 25px;
}

header .navbar-nav li:hover {
  background-color: var(--color-hover);
}

header .navbar {
  padding: 0px;
}

.navbar-toggler.collapsed {
  margin-right: auto;
}

.navbar-toggler-icon {
  color: #fff !important;
  background-image: url(../img/icon/menu.png);
  outline: none;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
  margin-right: auto !important;
  transform: rotate(180deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: #f7f7f7;
  padding-left: 100px;
}

.profile h6 {
  font-size: 1rem;
}

.profile span {
  font-size: 15px;
}

.profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.site-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.parent_end_header {
  padding: 0px 40px;
}

.end_header {
  background-color: #fff;
  position: relative;
}

.end_header a {
  color: #000;
  text-decoration: none;
}

.parent_logo img {
  position: absolute;
  top: 0px;
  overflow: visible;
  z-index: 1000;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  color: var(--default-color);
  font-family: "myFirstFont";
  direction: rtl;
  background-image: url(../img/image/mnasd-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover {
  color: rgba(var(--primary-color-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "myFirstFont";
}

.main_section {
  padding-top: 80px;
}

.main_section .card {
  padding: 25px 35px;
  border-radius: 5px;
  margin-top: 20px;
}

.row_card {
  padding: 0px 40px;
}

.main_section .card img {
  border-radius: 5px;
}

main .card .card-body .card-title a {
  color: var(--color-main);
  text-decoration: none;
  font-size: 16px;
}

main .card .card-body .card-text a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

main .btn-Con {
  background-color: var(--color-main);
  color: #fff;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #008000;
  color: #eeefef;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 3px 20px;
  float: left;
  text-decoration: none;
  font-weight: bold;
}

.main_section .card {
  position: relative;
}

.fixxedlogo {
  background: var(--color-main);
  width: fit-content;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50px;
}

.fixxedlogo img {
  width: 80%;
}

.main_section {
  background-color: #e8ede7;
}

footer .section_top {
  background-color: #ffffff;
}

footer .section_top ul li a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

footer .section_top ul li {
  padding: 14px 0px;
}

footer .section_top ul {
  gap: 30px;
  padding: 0px 40px;
  justify-content: center;
}

footer .paragrah_footer {
  color: #fff;
}

footer .end_footer {
  background-color: #008000;
}

/* =============== media query =============== */
@media screen and (min-width: 991px) {
  .site-title {
    margin-right: 80px;
  }
  .footer .section_top ul {
    gap: 145px;
  }
}

@media screen and (max-width: 991px) {
  header .navbar-nav li {
    padding: 4px 8px;
  }

  .parent_end_header {
    padding: 0px;
  }

  .parent_logo img {
    display: none;
  }

  .parent_logo .site-title {
    font-size: 12px;
  }

  .profile {
    padding: 0px;
    background: none;
    margin-right: auto;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }

  .end_header {
    padding-top: 10px;
  }

  .profile h6 {
    display: none;
  }
  .profile span {
    display: none;
  }
}
